@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    width: 100%;
    height: 100%;
}

.game {
    width: 100%;
    height: 100%;
}

.wheel {
    margin-left: 60px;
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}

.wheel > div {
    width: 100%;
    height: auto;
    padding-top: 100%;
    box-sizing: border-box;
    max-width: unset;
    max-height: unset;
}

.wheel > div > div > canvas {
    width: 98%;
    height: 98%;
    box-sizing: border-box;
    max-width: unset;
    max-height: unset;
}

.spinbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
}

.right-panel {
    width: 100%;
    flex-direction: row;
}
.inner_right-panel {
    height: 100%;
    font-size: 16px;
}

.spin-info {
    height: 50%;
    font-size: 16px;
}

.info-text {
    font-size: 3rem;
}
.result {
    margin-left: 20%;
    margin-right: 20%;
}

.history {
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}
